# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Css Comb': 'css-comb:comb'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Css Comb'
      'submenu': [
        { 'label': 'Comb', 'command': 'css-comb:comb' }
        { 'label': 'Project settings', 'command': 'css-comb:userSettings' }
      ]
    ]
  }
]
