# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
    'atom-text-editor': [
        { 'label' : 'Css Comb', 'command': 'css-comb:comb'}
    ]

'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'Css Comb'
            'submenu': [
                { 'label': 'Comb', 'command': 'css-comb:comb' }
            ]
        ]
    }
]
